body {
  font-family: sans-serif;
}

div {
  position: absolute;
  height: 50px;
  width: 50px;
}

.botonIngreso {
  background-color: green;
  color: white;
}

.botonEliminar {
  background-color: red;
  color: white;
}
